# breathe master is currently broken
git+https://github.com/eric-wieser/breathe.git
# -e hg://hg@bitbucket.org/ericwieser/sphinxcontrib-matlabdomain#egg=sphinxcontrib-matlabdomain&subdirectory=matlabdomain
