# Python requirements for the tools folder
# Install with `pip install -r requirements.txt --user`

pyserial ~= 3.2
protobuf ~= 3.1
cobs ~= 1.0      # this is a little tricky to install on windows
numpy
scipy
prompt-toolkit ~= 1.0
pygments
